// COLOR 
$color-primary: rgb(126, 213, 111);
$color-primary-lite: rgb(85, 197, 122);
$color-primary-dark: rgb(40, 180, 133);
$color-secondary-lite: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-lite: #2998ff;
$color-tertiary-dark: #5643fa;
$color-gray: #777;
$color-white: white;
$color-black: #000;

$color-gray-lite-1: #f7f7f7;
$color-gray-lite-2: #eee;
$color-gray-dark-1: #333;


// FONT 
$default-font-size: 1.6rem;


// GRID 
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;
